body {
    font-size: 14px;
    color: #ffffff;
    background-color: rgb(41, 41, 41);
    font-family: system-ui;
}

.container {
    padding: 8px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    width: 480px;
    height: 260px;
}

h1 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    margin-top: 5px;
}

h2 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
    color: white;
    /* Define a cor do texto como branco */
    text-decoration: none;
    /* Remove o sublinhado */
}

#funding-rate {
    margin-bottom: 13px;
}

.orange {
    color: orange;
    width: 55px;
}

.price {
    font-weight: 500;
    padding-top: 20px;
}

.funding {
    margin-top: 20px;
    font-weight: 500;
}

.negative {
    color: rgb(83, 165, 83);
}

.positive {
    color: rgb(224, 113, 142);
}

.nupl {
    margin-top: 20px;
}

.nupl a {
    display: inline-block;
    padding-right: 5px;
    /* Ajuste o espaçamento à direita conforme necessário */
    color: white;
    /* Define a cor do texto como branco */
    text-decoration: none;
    /* Remove o sublinhado */
}

.nupl-inline {
    display: inline-flex;
}

.set-alarm {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.avg-price {
    display: flex;
    width: 140px;
    padding-top: 20px;
    padding-right: 3px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

div button {
    transition: all 0.5s;
    background-color: rgb(26, 26, 26);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.685);
    height: 25px;
    margin-bottom: 5px;
}

div button:hover {
    background-color: rgb(43, 43, 43);
    cursor: pointer;

}

.chart-global {
    text-align: center;
    margin-top: 33px;
}

.chart-global p {
    top: -15px;
    position: relative;
    font-size: 13px;
}

.chart-title {
    display: inline-flex;
    margin-bottom: 5px;
}

#funding-rate-chart canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    align-self: center;
}

.tool-tip {
    margin-left: 3px;
    max-width: 150px;
}

.tool-tip:hover {
    cursor: help;
}

.buttons {
    display: flex;
}

footer {
    display: flex;
    margin-top: 2px;
    font-size: 12.5px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    color: black;
    justify-content: space-evenly;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer a {
    color: #2647ff;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5;
}

footer a:hover {
    color: #9646ff;
}

.btcnews {
    color: #000000;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: all 0.5;
    display: inline;
}

.btcnews:hover {
    color: #d10000;
}

canvas {
    padding-left: 20px;
    padding-right: 10px;
}

.tool-tip {
    position: relative;
}

.tool-tip::before {
    content: attr(title);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.2s ease;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    pointer-events: none; /* adicionado */
}

.tool-tip:hover::before {
    opacity: 1;
    visibility: visible;
}