body {
    background-color: rgb(20, 20, 20);
}

.buy-history {
    display: flex;
    width: 310px;
    padding-right: 3px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 42px 20px 20px;
    padding: 15px 10px 25px 0px;
    background-color: #222222;
    border: 1px solid #5c5c5cc2;
    box-shadow: 0px 0px 10px #242424;
}

table {
    margin-bottom: 35px;
    margin-top: 15px;
    margin-left: 25px;
    width: 100%;
}

h2 {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 650;
}

input { 
    margin-bottom: 5px;
}

tr {
    font-size: small;
}

th {
    padding-right: 12px;
    padding-bottom: 3px;
}

td {
    text-align: center;
    padding-right: 10px;
}

form {
    width: 200px;
    height: 120px;
    display: grid;
}

form label {
    margin-bottom: 4px;
}

form button {
    font-weight: 600;
    background-color: dimgray;
    color: white;
    height: 25px;
    margin-top: 10px;
}

td button {
    color: white;
    background-color: dimgray;
    transform: scale(0.8);
}

div button {
    transition: all 0.5s;
    background-color: rgb(26, 26, 26);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.685);
    height: 25px;
    margin-bottom: 5px;
}
